# Source SFTP configuration. Copy to a secure file such as ~/.servername.environment.env
# To keep the file private and readable only by the owner: chmod 600 ~/.servername.environment.env
SFTP_HOST="0.0.0.0"
SFTP_USER="user"
SFTP_PORT="22"
SFTP_PASS="password"
SFTP_DIR="./"
SFTP_KEY_PATH=""
SFTP_PASSPHRASE=""